 @import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Lato');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
}




/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    color: #515151;
    background-color: #fff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

.container{
  font-family: 'Ubuntu';. sans-serif;
}

/* Custom page header styling */
.header {
  color: #ffdfad; /*#ffcc99;*/
  border-radius: 9px;
  border: solid #ffdfad 3px;
    margin-bottom: 1.5rem;
}


/* Make the masthead heading the same height as the navigation */
.navbar-brand {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 160%;
  text-transform: uppercase;
  text-decoration: none;
  margin-left: 1rem;
}

.nav-link{
  margin-top: 0rem;
  margin-right: 0rem;
  color: #000000;
  font-size: 120%;
}


.breadcrumb-item{
  color: #000000;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h3{
  margin-top: 0.5rem;
}

.marketing h3{
  font-size: 220%;
  margin-bottom: 1rem;
}
  
.marketing p{
  font-size: 150%;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}




/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px)
  {
    /*min-width: 48em) */
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 1rem;
  }

  .marketing h3{
    font-size: 180%;
  }

  .marketing p{
    font-size: 130%;
  }

}